<html>
  <head>
    
    
    <meta name="viewport" content="width = device width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel = "stylesheet" href="/css/style.css">
    <link rel = "stylesheet" href="/css/carrito.css">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shopping cart</title>
    

</head>
  
  <body>
      <%- include('./partials/header') %>
      <main>
        <div class="basket">
          <div class="basket-module">
            <label for="promo-code">Ingresa tu codigo de descuento</label>
            <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
            <button class="promo-code-cta">Aplicar</button>
          </div>
          <div class="basket-labels">
            <ul>
              <li class="item item-heading">Item</li>
              <li class="price">Precio</li>
              <li class="quantity">Cantidad</li>
              <li class="subtotal">Subtotal</li>
            </ul>
          </div>
          <% for (let producto of listaProductos) { %>
          <h4 class="esconderId"><%= producto.id%></h4>
          <div class="basket-product  ">
            <div class="item">
              <div class="product-image">
                <img src="/img/<%=producto.img%>" class="imagen">
              </div>
              <div class="product-details">
                <h1><%= producto.nombre%></h1>
              </div>
            </div>
            <div class="precio"><%= producto.precio%></div>
            <div class="quantity">
              <input type="number" value="4" min="1" class="cantidad">
            </div>
            <div class="subtotal">4000</div>
            <div class="remove">
              <button>Remover</button>
            </div>
          </div>
          <% } %>
        <aside>
          <div class="summary">
            <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
            <div class="summary-subtotal">
              <div class="subtotal-title">Subtotal</div>
              <div class="subtotal-value final-value" id="basket-subtotal">130.00</div>
              <div class="summary-promo hide">
                <div class="promo-title">Promocion</div>
                <div class="promo-value final-value" id="basket-promo"></div>
              </div>
            </div>
            <div class="summary-delivery">
              <select name="delivery-collection" class="summary-delivery-selection">
                  <option value="0" selected="selected">Selecciona tu envio</option>
                 
                 <option value="first-class">OCA</option>
                 <option value="second-class">Correo Argentino</option>
                 <option value="signed-for">Mercado Envios</option>
              </select>
            </div>
            <div class="summary-total">
              <div class="total-title">Total</div>
              <div class="total-value final-value" id="basket-total">130.00</div>
            </div>
            <div class="summary-checkout">
              <button class="checkout-cta">Pagar</button>
            </div>
          </div>
        </aside>
        <script src="/js/carrito.js"></script>
      </main>
      
  </body>
<%- include('./partials/footer') %>
</html>