<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Formulario de creación de productos</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/user/crear-producto" method="POST" enctype="multipart/form-data" >
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="nombre" placeholder="" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="number" id="price" name="precio" placeholder="Ej: 5678" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Blend:</label>
						<input type="text" id="discount" name="blend" placeholder="Ej: 15" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Cosecha:</label>
						<input type="text" id="discount" name="cosecha" placeholder="Ej: 15" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Volumen:</label>
						<input type="text" id="discount" name="volumen" placeholder="Ej: 15" class="form-input">
					</div>
					<!--<div class="col-12 col-md-6">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="">Elegí</option>
							<option value="in-sale">En oferta</option>
							<option value="visited">Últimos agregados</option>
						</select>
					</div>-->
					<div class="col-12">
						<label for="descripcion" class="form-label">Descripción:</label>
						<textarea name="descripcion" id="descripcion" class="form-input"></textarea>
					</div>
					<div class="col-12 col-md-6">
						<label for="stock" class="form-label">Stock:</label>
						<input type="text" id="stock" name="stock" placeholder="Ej: 15" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="categorias" class="form-label">Categoria:</label>
						<select name="categorias" class="form-label">
							<% for (let i = 0; i < categorias.length; i++){%>
								<% if (categorias[i].id == productos.id_categorias ){%>
								<option value="<%= categorias[i].id %>" selected>
									<%= categorias[i].nombre %>
								</option>
								<% } else { %>
									<option value="<%= categorias[i].id %>" >
										<%= categorias[i].nombre %>
									</option>
							<% } %>
						
						<% } %>
						</select>
						
					</div>
					<div class="col-12 col-md-6">
						<label for="administrador" class="form-label">Administrador:</label>
						<select name="administrador" class="form-label">
							<% for (let i = 0; i < administrador.length; i++){%>
								<% if (administrador[i].id == productos.id_administrador ){%>
								<option value="<%= administrador[i].id %>" selected>
									<%= administrador[i].nombre_completo %>
								</option>
								<% } else { %>
									<option value="<%= administrador[i].id %>" >
										<%= administrador[i].nombre_completo %>
									</option>
							<% } %>
						
						<% } %>
						</select>
						
					</div>
					<div class="col-12">
                        <input type="file" style="background-color: cornflowerblue; color:white; width: 400px; height: 20px;" name="img"></input>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="buy-now-button">Guardar producto</button>
                    </div>
				
				</div>
			</form>

		</div>

	</div>
</body>
</html>