<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
    <body> 

        <<%- include('./partials/header') %>
        <main>
                    
                <div class="todo">
                  
                    <div class="container page-wrapper">

                      
                     
                        
                        
                        <div class="page-inner">
                          <div class="row">
                            <div class="el-wrapper">
                              <div class="box-up">
                                <img class="img" src="/img/<%=producto.image%>" alt="">
                                <div class="img-info">
                                  <div class="info-inner">
                                    <span class="p-name"><p><%=producto.name%></p></span>
                                    <span class="p-company"><%=producto.description%></span>
                                  </div>
                                  <div class="a-size"> Descuentos : <span class="discount"><%=producto.discount%>% OFF</span></div>
                                </div>
                              </div>
                              <span class="p-company"><%=producto.description%></span>
                      
                              <div class="box-down">
                                <div class="h-bg">
                                  <div class="h-bg-inner"></div>
                                </div>
                      
                                <a class="cart" href="#">
                                  <span class="price"><p><%=producto.price%></p></span>
                                 
                                  <span class="add-to-cart">
                                    <span class="txt">Agregar a carrito</span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                      </div>
                      <a href="/users/editar-producto/<%= producto.id %>" class="action-button edit">EDITAR PRODUCTO</a>
                      <form action="/users/delete/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="action-button delete">Borrar por bobi</button>
                    </form>
                    </div>
                    
        </main>
    </body>
</html>