<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Estás editando: <i><%= producto.nombre %></i></h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/user/editar-producto/<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data"> 
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="nombre" class="form-label">Nombre del producto: </label>
						<input type="text" id="nombre" name="nombre" placeholder="" value="<%= producto.nombre %>" class="form-input">
						<% if (locals.errors && errors.nombre) { %>
							<div class="text-danger">
								<%= errors.nombre.msg %> 
							</div>
						<% } %>
					</div>
					<div class="col-12 col-md-6">
						<label for="precio" class="form-label">Precio del producto: </label>
						<input type="text" id="precio" name="precio" placeholder="" value="<%= producto.precio %>" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="blend" class="form-label">Blend:</label>
						<input type="text" id="blend" name="blend" placeholder="" value="<%= producto.blend %>"  class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="categorias" class="form-label">Categoria:</label>
						<select name="categorias" class="form-label" value="<%= producto.categorias %>"  >
							<% for (let i = 0; i < categorias.length; i++){%>
								<% if (categorias[i].id == producto.id_categorias ){%>
								<option value="<%= categorias[i].id %>" selected>
									<%= categorias[i].nombre %>
								</option>
								<% } else { %>
									<option value="<%= categorias[i].id %>" >
										<%= categorias[i].nombre %>
									</option>
							<% } %>
						
						<% } %>
						</select>
						
					</div>
					<div class="col-12 col-md-6">
						<label for="administrador" class="form-label">Administrador:</label>
						<select name="administrador" class="form-label" value="<%= producto.administrador %>"  >
							<% for (let i = 0; i < administrador.length; i++){%>
								<% if (administrador[i].id == producto.id_administrador ){%>
								<option value="<%= administrador[i].id %>" selected>
									<%= administrador[i].nombre_completo %>
								</option>
								<% } else { %>
									<option value="<%= administrador[i].id %>" >
										<%= administrador[i].nombre_completo %>
									</option>
							<% } %>
						
						<% } %>
						</select>
						
					</div>
					<div class="col-12 col-md-6">
						<label for="cosecha" class="form-label">Cosecha:</label>
						<input type="date" id="cosecha" name="cosecha" placeholder="" value="<%= producto.cosecha %>"  class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="volumen" class="form-label">Volumen:</label>
						<input type="text" id="volumen" name="volumen" placeholder="" value="<%= producto.volumen %>"  class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="stock" class="form-label">Stock:</label>
						<input type="text" id="stock" name="stock" placeholder="" value="<%= producto.stock %>"  class="form-input">
					</div>
					<div class="col-12">
						<label for="descripcion" class="form-label">Descripción:</label>
						<textarea name="descripcion" id="descripcion" class="form-input" value="<%= producto.descripcion %>"></textarea>
						<% if (locals.errors && errors.descripcion) { %>
							<div class="text-danger">
								<%= errors.descripcion.msg %> 
							</div>
						<% } %>
					</div>
					<div class="col-12">
                        <input type="file" style="background-color: cornflowerblue; color:white; width: 400px; height: 20px;" name="img"  ></input>
						<% if (locals.errors && errors.img) { %>
							<div class="text-danger">
								<%= errors.img.msg %>
							</div>
						<% } %>
                    </div> 

                    <div class="col-12">
                        <button type="submit" class="buy-now-button">Guardar producto</button>
                    </div>
				
			</form>
		</div>

	</div>

</body>	
</html>