<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>
<body>
	<%- include('partials/header'); %>
	
	<!-- Register-Form -->
	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<h2>Formulario de registro</h2>
				
				<form method="POST" action="/user/register" enctype="multipart/form-data" class="formulario">
					<div class="row">
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>Nombre completo:</b></label>
								<input 
									type="text" 
									name="nombre_completo" 
									class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %> nombre_completo"
									value="<%= locals.oldData ? oldData.nombre_completo : null %>"
								>
								<% if (locals.errors && errors.nombre_completo) { %>
									<div class="text-danger">
										<%= errors.nombre_completo.msg %> 
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>Correo electrónico:</b></label>
								<input 
									type="text" 
									name="email" 
									class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %> email"
									value="<%= locals.oldData ? oldData.email : null %>"
								>
								<% if (locals.errors && errors.email) { %>
									<div class="text-danger">
										<%= errors.email.msg %>
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>Password:</b></label>
								<input 
									type="password" 
									name="password" 
									class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %> password"
								>
								<% if (locals.errors && errors.password) { %>
									<div class="text-danger">
										<%= errors.password.msg %>
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>Telefono:</b></label>
								<input 
									type="number" 
									name="telefono" 
									class="form-control <%= locals.errors && errors.telefono ? 'is-invalid' : null %> telefono"
								>
								<% if (locals.errors && errors.telefono) { %>
									<div class="text-danger">
										<%= errors.telefono.msg %>
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>Imagen de perfil:</b></label>
								<input 
									type="file" 
									name="foto_perfil"
									class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %> foto_perfil"
								>
								<% if (locals.errors && errors.foto_perfil) { %>
									<div class="text-danger">
										<%= errors.foto_perfil.msg %>
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-12 my-3">
							<button type="submit" class="btn btn-primary">Registrarse</button>
						</div>
					</div>
				</form>
				<div class="errores">
					<ul class="list-group">
					
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //Register-Form -->
	
	<%- include('partials/footer'); %>
	<script src="/js/main.js"></script>
</body>
</html>