<!--<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    
  <div class="main-block">
    <form action="/user/register" method="post" enctype="multipart/form-data">
      <h1>Crea tu cuenta</h1>
          <h3>Detalles de la cuenta</h3>
        
        <div  class="account-details">
          <div><label>Email*</label><input 
            type="text" 
            name="email" 
            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.email : null %>"
          >
          <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
              <%= errors.email.msg %>
            </div>
          <% } %></div>
        

          <div><label>Password*</label><input 
            type="password" 
            name="password" 
            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
          >
          <% if (locals.errors && errors.password) { %>
            <div class="text-danger">
              <%= errors.password.msg %>
            </div>
          <% } %></div>
          
        </div>
      
        
          <h3>Datos Personales</h3>
        
        <div  class="personal-details">
          <div>
            <div><label>Nombre*</label><input 
              type="text" 
              name="fullName" 
              class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
              value="<%= locals.oldData ? oldData.fullName : null %>"
            >
            <% if (locals.errors && errors.fullName) { %>
              <div class="text-danger">
                <%= errors.fullName.msg %> 
              </div>
            <% } %></div>
            <!--<div><label>Telefono*</label><input type="tel" name="telefono" required></div>
            <div><label>Calle</label><input type="text" name="direccion"></div>
            <div><label>Ciudad*</label><input type="text" name="ciudad" required></div>
           
           
          </div>
          <div>
            
            <div class="birthdate">
              <label>Fecha de nacimiento*</label>
              <div class="bdate-block">
                <select 
									name="nacimiento" 
									class="form-select <%= locals.errors && errors.nacimiento ? 'is-invalid' : null %>"
								>
									<option value="">Elegí una fecha</option>
									<%  
										let fechas = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'];
									%>
									<% for (const oneFecha of fechas) { %>
										<option 
											value="<%= oneFecha %>"
											<%= locals.oldData && (oneFecha === oldData.fecha) ? 'selected' : null %> 
										> <%= oneFecha %> </option>
									<% } %>
								</select>
								<% if (locals.errors && errors.fecha) { %>
									<div class="text-danger">
										<%= errors.fecha.msg %>
									</div>
								<% } %>
                <select 
									name="mes" 
									class="form-select <%= locals.errors && errors.mes ? 'is-invalid' : null %>"
								>
									<option value="">Elegí un mes</option>
									<%  
										let meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre','Noviembre','Diciembre'];
									%>
									<% for (const oneMes of meses) { %>
										<option 
											value="<%= oneMes %>"
											<%= locals.oldData && (oneMes === oldData.mes) ? 'selected' : null %> 
										> <%= oneMes %> </option>
									<% } %>
								</select>
								<% if (locals.errors && errors.mes) { %>
									<div class="text-danger">
										<%= errors.mes.msg %>
									</div>
								<% } %>
                <div><label>Año</label><input 
                  type="number" 
                  name="year" 
                  class="form-control <%= locals.errors && errors.year ? 'is-invalid' : null %>"
                  value="<%= locals.oldData ? oldData.year : null %>"
                >
                <% if (locals.errors && errors.year) { %>
                  <div class="text-danger">
                    <%= errors.year.msg %>
                  </div>
                <% } %></div>
              </div>
            </div>
            
            
          </div>
        </div>
      
        
          <h3>Terminos y Condiciones</h3>
        
        <div  class="terms-mailing">
          <div class="checkbox">
            <input type="checkbox" name="checkbox"><span>Certifico que soy mayor de 18 anios y que he leido y aceptado los terminos y condiciones asi como la Politica de privacidad.</a></span>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="checkbox"><span>Acepto recibir promociones en mi casilla de email</span>
        </div>
          
        <div class="col-md-6 my-1">
          <div class="form-group">
            <label><b>Imagen de perfil:</b></label>
            <input 
              type="file" 
              name="avatar"
              class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
            >
            <% if (locals.errors && errors.avatar) { %>
              <div class="text-danger">
                <%= errors.avatar.msg %>
              </div>
            <% } %>
          </div>
        </div>
        <div class="col-12 my-3">
      <button type="submit" href="/">Enviar</button>
    </div>
    </form>
    </div> 
  </body>
</html>-->
<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>
<body>
	<%- include('partials/header'); %>
	
	<!-- Register-Form -->
	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<h2>Formulario de registro</h2>
	
				<form method="POST" action="/user/register" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>Nombre completo:</b></label>
								<input 
									type="text" 
									name="fullName" 
									class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.fullName : null %>"
								>
								<% if (locals.errors && errors.fullName) { %>
									<div class="text-danger">
										<%= errors.fullName.msg %> 
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>Correo electrónico:</b></label>
								<input 
									type="text" 
									name="email" 
									class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.email : null %>"
								>
								<% if (locals.errors && errors.email) { %>
									<div class="text-danger">
										<%= errors.email.msg %>
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>Password:</b></label>
								<input 
									type="password" 
									name="password" 
									class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
								>
								<% if (locals.errors && errors.password) { %>
									<div class="text-danger">
										<%= errors.password.msg %>
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>País de nacimiento:</b></label>
								<select 
									name="country" 
									class="form-select <%= locals.errors && errors.country ? 'is-invalid' : null %>"
								>
									<option value="">Elegí un país</option>
									<%  
										let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela'];
									%>
									<% for (const oneCountry of countries) { %>
										<option 
											value="<%= oneCountry %>"
											<%= locals.oldData && (oneCountry === oldData.country) ? 'selected' : null %> 
										> <%= oneCountry %> </option>
									<% } %>
								</select>
								<% if (locals.errors && errors.country) { %>
									<div class="text-danger">
										<%= errors.country.msg %>
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>Imagen de perfil:</b></label>
								<input 
									type="file" 
									name="avatar"
									class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
								>
								<% if (locals.errors && errors.avatar) { %>
									<div class="text-danger">
										<%= errors.avatar.msg %>
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-12 my-3">
							<button type="submit" class="btn btn-primary">Registrarse</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- //Register-Form -->
	
	<%- include('partials/footer'); %>
</body>
</html>