<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    
  <div class="main-block">
    <form action="/users/registro" method="post">
      <h1>Crea tu cuenta</h1>
      <fieldset>
        <legend>
          <h3>Detalles de la cuenta</h3>
        </legend>
        <div  class="account-details">
          <div><label>Email*</label><input 
            type="text" 
            name="email" 
            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.email : null %>"
          >
          <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
              <%= errors.email.msg %>
            </div>
          <% } %></div>
          <!--<div><label>Confirmar email*</label><input type="email" name="email" required></div>-->

          <div><label>Password*</label><input 
            type="password" 
            name="password" 
            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
          >
          <% if (locals.errors && errors.password) { %>
            <div class="text-danger">
              <%= errors.password.msg %>
            </div>
          <% } %></div>
          <!--<div><label>Confirmar contraseña*</label><input type="password" name="password" required></div>-->
        </div>
      </fieldset>
      <fieldset>
        <legend>
          <h3>Datos Personales</h3>
        </legend>
        <div  class="personal-details">
          <div>
            <div><label>Nombre*</label><input 
              type="text" 
              name="fullName" 
              class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
              value="<%= locals.oldData ? oldData.fullName : null %>"
            >
            <% if (locals.errors && errors.fullName) { %>
              <div class="text-danger">
                <%= errors.fullName.msg %> 
              </div>
            <% } %></div>
            <!--<div><label>Telefono*</label><input type="tel" name="telefono" required></div>
            <div><label>Calle</label><input type="text" name="direccion"></div>
            <div><label>Ciudad*</label><input type="text" name="ciudad" required></div>
           
           
          </div>
          <div>
            <div>
              <label>Genero*</label>
              <div class="gender" >
                <input type="radio" value="masculino" id="male" name="gender" required/>
                <label for="male" class="radio">Masculino</label>
                <input type="radio" value="femenino" id="female" name="gender" required/>
                <label for="female" class="radio">Femenino</label>
                <input type="radio" value="otros" id="other" name="gender" required/>
                <label for="female" class="radio">Sin especificar</label> 
              </div>
            </div>-->
            <div class="birthdate">
              <label>Fecha de nacimiento*</label>
              <div class="bdate-block">
                <select 
									name="nacimiento" 
									class="form-select <%= locals.errors && errors.nacimiento ? 'is-invalid' : null %>"
								>
									<option value="">Elegí una fecha</option>
									<%  
										let fechas = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'];
									%>
									<% for (const oneFecha of fechas) { %>
										<option 
											value="<%= oneFecha %>"
											<%= locals.oldData && (oneFecha === oldData.fecha) ? 'selected' : null %> 
										> <%= oneFecha %> </option>
									<% } %>
								</select>
								<% if (locals.errors && errors.fecha) { %>
									<div class="text-danger">
										<%= errors.fecha.msg %>
									</div>
								<% } %>
                <select 
									name="mes" 
									class="form-select <%= locals.errors && errors.mes ? 'is-invalid' : null %>"
								>
									<option value="">Elegí un mes</option>
									<%  
										let meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre','Noviembre','Diciembre'];
									%>
									<% for (const oneMes of meses) { %>
										<option 
											value="<%= oneMes %>"
											<%= locals.oldData && (oneMes === oldData.mes) ? 'selected' : null %> 
										> <%= oneMes %> </option>
									<% } %>
								</select>
								<% if (locals.errors && errors.mes) { %>
									<div class="text-danger">
										<%= errors.mes.msg %>
									</div>
								<% } %>
                <div><label>Año</label><input 
                  type="number" 
                  name="year" 
                  class="form-control <%= locals.errors && errors.year ? 'is-invalid' : null %>"
                  value="<%= locals.oldData ? oldData.year : null %>"
                >
                <% if (locals.errors && errors.year) { %>
                  <div class="text-danger">
                    <%= errors.year.msg %>
                  </div>
                <% } %></div>
              </div>
            </div>
            
            
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          <h3>Terminos y Condiciones</h3>
        </legend>
        <div  class="terms-mailing">
          <div class="checkbox">
            <input type="checkbox" name="checkbox"><span>Certifico que soy mayor de 18 anios y que he leido y aceptado los terminos y condiciones asi como la Politica de privacidad.</a></span>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="checkbox"><span>Acepto recibir promociones en mi casilla de email</span>
          </div>
      </fieldset>
      <button type="submit" href="/">Enviar</button>
    </form>
    </div> 
  </body>
</html>