<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
    <body> 

        <%- include('./partials/header') %>
        <main>
                    
                <div class="todo">
                  <% for (let producto of listaProductos) { %>
                    <div class="container page-wrapper">

                      <a href="/detail/<%=producto.id%>">
                     
                        
                        
                        <div class="page-inner">
                          <div class="row">
                            <div class="el-wrapper">
                              <div class="box-up">
                                <img class="img" src="/img/<%=producto.img%>" alt="">
                                <div class="img-info">
                                  <div class="info-inner">
                                    <span class="p-name"><p><%=producto.nombre%></p></span>
                                  </div>
                                  <div class="a-size"> Blend : <span class="discount"><%=producto.blend%></span></div>
                                </div>
                              </div>
                      
                              <div class="box-down">
                                <div class="h-bg">
                                  <div class="h-bg-inner"></div>
                                </div>
                      
                                <a class="cart" href="#">
                                  <span class="price"><p>$<%=producto.precio%></p></span>
                                 
                                  <span class="add-to-cart">
                                    <button class="addCarrito" id="<%= producto.id %>">Agregar a carrito</button>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                      </div>
                      
                      <% } %>
                    </div>
                    <script src="/js/botonCarrito.js"></script>
        </main>
    </body>
</html>