<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
    <body> 

        <%- include('./partials/header') %>
        <main>
                    
                <div class="todo">
                  <% for (let p of AllProductos) { %>
                    <div class="container page-wrapper">

                      <a href="/detail/<%=p[i].id%>">
                     
                        
                        
                        <div class="page-inner">
                          <div class="row">
                            <div class="el-wrapper">
                              <div class="box-up">
                                <img class="img" src="/img/<%=p[i].imagen%>" alt="">
                                <div class="img-info">
                                  <div class="info-inner">
                                    <span class="p-name"><p><%=p[i].nombre%></p></span>
                                  </div>
                                  <div class="a-size"> Descuentos : <span class="discount"><%=p[i].blend%></span></div>
                                </div>
                              </div>
                      
                              <div class="box-down">
                                <div class="h-bg">
                                  <div class="h-bg-inner"></div>
                                </div>
                      
                                <a class="cart" href="#">
                                  <span class="price"><p>$<%=p[i].precio%></p></span>
                                 
                                  <span class="add-to-cart">
                                    <span class="txt">Agregar a carrito</span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                      </div>
                      <% } %>
                    </div>
                    
        </main>
    </body>
</html>